@font-face {
  font-family: 'PTRootUI';
  src: url('./fonts/pt-root-ui_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('./fonts/pt-root-ui_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}